@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html,body{
  margin:0;
  height:100%;
  font-family:'Inter',sans-serif;
}

#gjs{
  height:calc(100vh - 54px);
  background:#fff;
}

/* верхняя панель */
#topBar{
  padding:6px 12px;
  background:#fff;
  border-bottom:1px solid #e3e3e3;
  display:flex;
  gap:8px;
  align-items:center;
  color:#333;
  box-shadow:0 1px 3px rgba(0,0,0,.05);
}
#topBar button{
  background:#6c63ff;
  border:none;
  color:#fff;
  padding:4px 8px;
  border-radius:4px;
  cursor:pointer;
  display:flex;
  align-items:center;
  gap:4px;
  transition:background-color .2s;
}
#topBar button:hover{background:#594fd4;}

/* панель страниц */
#pagesBar{
  margin-left:32px;
  display:flex;
  gap:4px;
  background:#f2f2f2;
  padding:4px 8px;
  border-radius:6px;
  box-shadow:0 1px 3px rgba(0,0,0,.1);
}

#pagesBar select{
  padding:4px 6px;
  border:1px solid #ccc;
  border-radius:4px;
  background:#fff;
  color:#333;
}

#pagesBar button{
  background:#6c63ff;
  border:none;
  color:#fff;
  padding:4px 8px;
  border-radius:4px;
  cursor:pointer;
  transition:background-color .2s;
}
#pagesBar button:hover{background:#594fd4;}

/* боковая мини-панель */
.toolbar{
  position:absolute;
  right:10px;
  top:60px;
  display:flex;
  flex-direction:column;
  gap:6px;
  z-index:9999;
  background:#fff;
  border:1px solid #ddd;
  border-radius:8px;
  padding:6px;
  box-shadow:0 2px 8px rgba(0,0,0,.1);
  font-size:13px;
  color:#333;
}
.toolbar button{
  border:none;
  background:#6c63ff;
  border-radius:4px;
  padding:5px;
  cursor:pointer;
  min-width:28px;
  color:#fff;
  transition:background-color .2s;
}
.toolbar button:hover{background:#594fd4;}

#colorPick{
  border:1px solid #ccc;
  border-radius:4px;
  width:32px;
  height:23px;
  padding:0;
  background:#fff;
}
